*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    font-family:'Montserrat',sans-serif;

}

/* Canvas 3D */

#scene{

    position:fixed;

    inset:0;

    width:100vw;

    height:100vh;

    background:#000;

}

/* Texto */

#touch{

    position:absolute;

    left:50%;
    bottom:8%;

    transform:translateX(-50%);

    color:white;

    font-size:15px;

    letter-spacing:8px;

    text-transform:uppercase;

    white-space:nowrap;

    opacity:0;

    transition:opacity 1.5s ease;

    text-shadow:
    0 0 10px rgba(255,255,255,.25);

    user-select:none;

    pointer-events:none;

}

/* Quando aparecer */

#touch.show{

    opacity:.45;

    animation:pulse 2.2s infinite;

}

/* Respiração */

@keyframes pulse{

    0%{

        opacity:.25;

    }

    50%{

        opacity:.65;

    }

    100%{

        opacity:.25;

    }

}

/* Celular */

@media(max-width:700px){

    #touch{

        font-size:12px;

        letter-spacing:5px;

        bottom:7%;

    }

}
